<nav class="bg-light">

    <div class="nav-item dropdown mx-3">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="fas fa-fw fa-window-maximize"></i> Расчет
        </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <h5 class="dropdown-item" href="#">Автономный расчет</h5>
            <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Новый</a>
          <a class="dropdown-item" href="#">Открыть</a>
            <a class="dropdown-item" href="#">Загрузить</a>


          </div>
            </div>





      <div class="nav-item dropdown mx-3">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="fas fa-fw fa-window-maximize"></i> Параметры
        </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <h5 class="dropdown-item" href="#">Представление уставок</h5>
            <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Новое</a>
          <a class="dropdown-item" href="#">Открыть</a>
            <a class="dropdown-item" href="#">Загрузить</a>
           <div class="dropdown-divider"></div>
            <h5 class="dropdown-item">Библиотека</h5>
          <div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">ABB</a>
				<a class="dropdown-item" href="#">Areva</a>
				<a class="dropdown-item" href="#">GE</a>
				<a class="dropdown-item" href="#">Siemens</a>
				<a class="dropdown-item" href="#">Механотроника</a>
				<a class="dropdown-item" href="#">Микроэлектроника</a>
				<a class="dropdown-item" href="#">Релематика</a>
				<a class="dropdown-item" href="#">ЧЭАЗ</a>
				<a class="dropdown-item" href="#">Экра</a>
           		<a class="dropdown-item" href="#">Электромеханника</a>
                <div class="dropdown-divider"></div>
            <h5 class="dropdown-item">Шаблоны для экспорта</h5>
                 <div class="dropdown-divider"></div>
            	<a class="dropdown-item" href="#">Новый</a>
				<a class="dropdown-item" href="#">Открыть</a>
				<a class="dropdown-item" href="#">Загрузить</a>
          </div>
            </div>


          <div class="nav-item dropdown mx-3">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="fas fa-fw fa-window-maximize"></i> Методики
        </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <h5 class="dropdown-item" href="#">Добавить методику</h5>
            <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{url_for('upload.upload_file')}}">Новая</a>
          <a class="dropdown-item" href="#">Новая версия</a>
              <div class="dropdown-divider"></div>
            <h5 class="dropdown-item">Библиотека</h5>
          <div class="dropdown-divider"></div>
           		<a class="dropdown-item" href="#">СТО</a>
				<a class="dropdown-item" href="#">СО</a>
           		<a class="dropdown-item" href="#">ГОСТ</a>
           		<a class="dropdown-item" href="#">Руководящие указания</a>
           		<a class="dropdown-item" href="#">Циркуляры</a>
           		<a class="dropdown-item" href="{{url_for('book.book')}}">Книги</a>
           		<a class="dropdown-item" href="#">Статьи</a>
           		<a class="dropdown-item" href="#">Информационные письма</a>
           		<a class="dropdown-item" href="#">Пользовательские</a>
                <div class="dropdown-divider"></div>
               <h5 class="dropdown-item">МУ производителей</h5>
                 <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">ABB</a>
				<a class="dropdown-item" href="#">Areva</a>
				<a class="dropdown-item" href="#">GE</a>
				<a class="dropdown-item" href="#">Siemens</a>
				<a class="dropdown-item" href="#">Механотроника</a>
				<a class="dropdown-item" href="#">Релематика</a>
				<a class="dropdown-item" href="#">ЧЭАЗ</a>
				<a class="dropdown-item" href="#">Экра</a>
          </div>
            </div>


      <div class="nav-item mx-3">
        <a class="nav-link" href="#">
          <i class="fab fa-fw fa-wpforms"></i>
          <span>Условия</span>
        </a>
      </div>



      <div class="nav-item mx-3">
        <a class="nav-link" href="#">
          <i class="fab fa-fw fa-wpforms"></i>
          <span>Функции</span>
        </a>

      </div>
      <div class="nav-item mx-3">
        <a class="nav-link" href="#">
          <i class="fab fa-fw fa-wpforms"></i>
          <span>Метки</span>
        </a>
      </div>
       <div class="nav-item mx-3">
        <a class="nav-link" href="#">
          <i class="fab fa-fw fa-wpforms"></i>
          <span>Пользователи</span>
        </a>
      </div>
      <div class="nav-item mx-3">
        <a class="nav-link" href="#">
          <i class="fab fa-fw fa-wpforms"></i>
          <span>Техподдержка</span>
        </a>
      </div>
       <div class="nav-item mx-3">
        <a class="nav-link" href="#">
          <i class="fab fa-fw fa-wpforms"></i>
          <span>История</span>
        </a>
      </div>

</nav>
